<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motilitycapture</title>
</head>
<style>
    /* .grid-column-3-width {
    } */

    .cam {
        display: grid;
        grid-template-columns: auto 300px;
        gap: 20px;
    }

    .capture-side {
        background-color: #e6e6e3;
        padding: 20px;
    }

    .capture-side form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .capture-side label {
        font-weight: bold;
    }

    .capture-side input {
        width: 100%;
        padding: 5px;
    }

    .img-sperm {
        width: 100%;
        height: 90%;
        max-height: 700px;
    }

    .capture {
        margin-top: 10px;
        padding: 5px 10px;
    }

    /* .cam-screen {
        width: 1280px;
        height: 720px;
    } */
</style>

<body>

    <div class="cam overflow-hidden text-red-900">
        <!-- <div class="video-cam overflow-y-auto">
            <video id="video" playsinline autoplay></video>
        </div> -->

        <div>
            <img id="imgSperm" class="img-sperm" src="DNA_images/image17.jpg">
        </div>
        <div class="capture-side">
            <button id="snap" onclick="captureImage()" class="capture">Capture</button>
            <input type="file" id="file" onchange="updateImage()">
            <div alig="center">
                <form action="https://www.rssdinfotech.com/prime/1.php" method="post" enctype="multipart/form-data" name="addroom" name="addroom">
                    <label for="TotalSpermCount">Total Sperm Count:</label>
                    <input type="number" class="capture" id="TotalSpermCount" name="total"
                        placeholder="Enter Total Sperm Count" required>

                    <label for="HighSpeedSpermCount">High Speed Sperm Count:</label>
                    <input type="number" class="capture" id="HighSpeedSpermCount" name="a"
                        placeholder="Enter High Speed Sperm Count" required>

                    <label for="MediumSpeedSpermCount">Medium Speed Sperm Count:</label>
                    <input type="number" class="capture" id="MediumSpeedSpermCount" name="b"
                        placeholder="Enter Medium Speed Sperm Count" required>

                    <label for="LowSpeedSpermCount">Low Speed Sperm Count:</label>
                    <input type="number" class="capture" id="LowSpeedSpermCount" name="c"
                        placeholder="Enter Low Speed Sperm Count" required>

                    <label for="DeadSpermCount">Dead Sperm Count:</label>
                    <input type="number" class="capture" id="DeadSpermCount" name="d"
                        placeholder="Enter Dead Sperm Count" required>

                    <input type="submit" class="capture" name="submit">
                </form>
            </div>
        </div>

    </div>

    <!-- <div class='side'>
        <div class='text-center'>
            <label class='font-bold '>April, 2024 </label>
            <div class='overflow-y-scroll pt-[500px] mt-[-30px]'></div>
        </div>
    </div> -->

    <!-- <canvas id="canvas" width="640" height="480"></canvas> -->
    <!-- <script>

        'use strict';

        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const snap = document.getElementById("snap");
        const errorMsgElement = document.querySelector('span#errorMsg');

        const constraints = {
            audio: true,
            video: {
                width: 1280, height: 720
            }
        };

        // Access webcam
        async function init() {
            try {
                const stream = await navigator.mediaDevices.getUserMedia(constraints);
                handleSuccess(stream);
            } catch (e) {
                errorMsgElement.innerHTML = `navigator.getUserMedia error:${e.toString()}`;
            }
        }

        // Success
        function handleSuccess(stream) {
            window.stream = stream;
            video.srcObject = stream;
        }

        // Load init
        init();

        // Draw image
        var context = canvas.getContext('2d');
        snap.addEventListener("click", function () {
            context.drawImage(video, 0, 0, 640, 480);
        });
    </script> -->
    <script>
        function captureImage() {
            const imgElement = document.getElementById("imgSperm");
            fetch(imgElement.src)
                .then(response => response.blob())
                .then(blob => {
                    const formData = new FormData();
                    formData.append('image', blob);
                    fetch('/process_image', {
                        method: 'POST',
                        body: formData
                    })
                        .then(response => response.json())
                        .then(data => {
                            imgElement.src = data.imageData;
                            document.getElementById("TotalSpermCount").value = data.halo_counts.total;
                            document.getElementById("HighSpeedSpermCount").value = data.halo_counts.big;
                            document.getElementById("MediumSpeedSpermCount").value = data.halo_counts.medium;
                            document.getElementById("LowSpeedSpermCount").value = data.halo_counts.small;
                            document.getElementById("DeadSpermCount").value = data.halo_counts.dead;
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                })
                .catch(error => {
                    console.error('Error fetching image:', error);
                });
        }

        function updateImage() {
            const fileInput = document.getElementById("file");
            const imgElement = document.getElementById("imgSperm");
            const file = fileInput.files[0];
            const reader = new FileReader();
            reader.onload = function (e) {
                imgElement.src = e.target.result;
            }
            reader.readAsDataURL(file);

            document.getElementById("TotalSpermCount").value = null;
            document.getElementById("HighSpeedSpermCount").value = null;
            document.getElementById("MediumSpeedSpermCount").value = null;
            document.getElementById("LowSpeedSpermCount").value = null;
            document.getElementById("DeadSpermCount").value = null;
        }
    </script>
</body>

</html>